.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 243, 237);
    height: 80vh;
    width:103vw;
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #7e7474;
    gap: 10px;
    width: 20vw;
    height: 40vh;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginform input {
    width: 90%;
    justify-content: center;
    align-items: center;
    /* margin-left: 50px; */
}

.loginform button {
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    border-radius: 15px;
}