.bur {
    align-items: center;
    background-color: rgb(252, 243, 237);
    justify-content: center;
    height: 100vh;
    width:103vw;
}

h2 {
    margin-left: 100px;
    padding-top: 40px;
    text-align: center;
}

.burform3 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #7e7474;
    margin-left: 400px;
    align-content: center;
    gap: 2px;
    width: 30vw;
    padding-bottom: 60px;
    text-align: center;
    margin-top: 30px;
    height: 60vh;
}