.card {
    background-color: #d8caca;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row; /* Changed to row for horizontal layout */
    width: 95vw;
    text-align: left; /* Changed to left for horizontal layout */
    justify-content: space-between;
    align-items: center; /* Ensures items are vertically centered */
}

.card p {
    margin: 0 10px; /* Adjusted margin for horizontal layout */
}

.applications_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.create_application_form{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;
    margin-top:  20px;
    margin-right: 500px;
}